

@mixin form-window {
  background-color: white;
  border-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
  flex: 1;
  display: flex;
  border: 1px solid #ccc;
  height: 100%;
}

@mixin form-window-block {
  @include form-window;
  justify-content: center;
}