$dark-blue: #202E45;
$green: #608D93;
$red: #CC0000;

$light-blue: #4b789a;
$white: #FEFFFF;
$black: #252525;
$grey: #F1F2F6;
$grey-text: #979797;
$yellow: #FFCC00; //or #FF9966;..
$charcoal: #333333;

